@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --blue: #3498db;
    --grey: #383838;
    --background: rgb(31,31,31);
}


body {
    background-color: var(--background);
    font-family: 'Mulish', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    color: white;
}

.container {

    text-align: center;
}

.progress-container {

    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}

.progress-container::before {
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--grey);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
}



.progress {
    background-color: var(--blue);
    height: 4px;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: width 0.5s ease;
}

.circle {
    background-color: var(--background);
    color: #e2e2e2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--grey);
    transition: 0.7s ease;
}

.circle.active {
    border-color: var(--blue);
}

.btn {
    background-color: var(--blue);
    color: white;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: var(--grey);
    cursor: not-allowed;
}